{{template "base" .}}

{{define "title"}}AITU News - Contact{{end}}

{{define "main"}}
    <h2>Contact Us</h2>
    <p>For inquiries and feedback, please reach us at: <strong>news@aitu.edu.kz</strong></p>

{{end}}
