<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Home Page</h1>
    {{range $category, $newsList := .NewsByCategory}}
        <h2>{{$category}}</h2>
        <ul>
            {{range $news := $newsList}}
                <li>{{$news.Title}} - {{$news.Created}}</li>
            {{end}}
        </ul>
    {{end}}
</body>
</html>
